header {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  padding-bottom: 0;

  .logo {
    max-width: 60px;

    img {
      width: 100%;
    }
  }

  ul {
    flex: 1;
    display: flex;
    align-items: center;

    li {
      .logout {
        background: none;
        border: none;
        color: $text-muted;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }

      &:first-child {
        flex: 1;
      }
    }
  }
}
